.gridDiv {
  height: 100%;
  padding: 24px;
}
.gridDiv > div {
  padding: 16px;
}
.gridLeft {
  background-color: rgb(100, 149, 237);
}
.gridMain {
  background-color: teal;
}
.gridRight {
  background-color: rgba(100, 148, 237, 0.5);
}
