.dialog-container {
  padding: 16px;
  text-align: center;
}
.caller-icon {
  margin: 16px 0;
}
.button-div {
  display: flex;
  align-items: center;
  gap: 24px;
}

.accept-button {
  background-color: green !important;
  color: white !important;
}
