.gridMain {
  background-color: teal;
}
.video-container {
  position: relative;
  height: 100%;
}
.remote-video {
  width: 100%;
  height: 100%;
}

.local-video-container {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #eee;
  width: 40%;
  height: 20%;
}
.local-video {
  width: 100%;
  height: 100%;
}

.video-buttons-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.mic-button,
.camera-button {
  background-color: #40414d88 !important;
  font-size: 1rem !important;
}
.phone-button {
  background-color: #e53935 !important;
}

/* Record DiV */
.record-buttons-container {
  background-color: #40414d88;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 8px;
  border-radius: 8px;
}
.record-buttons-container button {
  padding: 4px !important;
}
